header{
  margin-bottom:32px;
}

main{
  padding-top:32px;
  min-height: 100vh;
}

input[type="submit"]{
  margin-top: 16px;
}

p{
  font-weight:300;
  margin: 0;
}

footer{
  padding-top:16px;
  padding-bottom: 16px;
  background-color: var(--color-primary);

}

footer p{
  font-weight: bold;
  color:white;
  font-size: 1.25em;
}
