header{
  margin-bottom:32px;
}

main{
  padding-top:32px;
  min-height: 100vh;
  margin-bottom: 64px;
}


p{
  font-weight:300;
  margin: 0;
}

footer{
  padding-top:16px;
  padding-bottom: 16px;
  background-color: var(--color-primary);

}

footer p{
  font-weight: bold;
  color:white;
  font-size: 1.25em;
}

.form-divider{
  text-align: center;
  line-height: 1;
  font-size: 2em;
}

 .loading-screen{
   position: absolute;
   top: 0px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   background-color: white;
   z-index: 98;
   opacity: 0.6;
 }

 .loading-screen:not(.show){
   z-index: -1;
 }
